fastapi==0.115.6
uvicorn[standard]==0.34.0
httpx==0.28.1
python-dotenv==1.0.1
pydantic-settings==2.7.1
pymacaroons==0.13.0
scikit-learn==1.6.1
pandas==2.2.3
numpy==2.0.2
joblib==1.4.2
websockets==14.1
